<div class="create_franchisee_main">
      <div class="cf-box-main">
        <p class="fr-info">Frachisee information</p>
        <form  #franchiseeForm="ngForm" name="franchiseeForm" (ngSubmit)="create_franchisee(franchiseeForm)" novalidate>

        <div >
          <label class="input-custom-label" for="franchisee_name">Franchisee Name</label>
          <mat-form-field>
            <input matInput placeholder="Franchisee Name" id="franchisee_name" name="franchisee_name" [(ngModel)]="createNew.franchisee_name" required>
            <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_name')">
                Franchisee name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div >
            <label class="input-custom-label" for="franchisee_name">Franchisee Email</label>
            <mat-form-field>
              <input matInput placeholder="Franchisee Name" id="franchisee_email" name="franchisee_email" [(ngModel)]="createNew.franchisee_email" required>
              <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_email')">
                  Franchisee email is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <label class="input-custom-label" for="City">City</label>
                  <mat-form-field>
                    <input matInput placeholder="City" id="City" name="franchisee_city" [(ngModel)]="createNew.franchisee_city" required>
                    <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_city')">
                        City is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <label class="input-custom-label" for="State">State</label>
                  <mat-form-field>
                    <input matInput placeholder="State" id="State" required name="franchisee_state" [(ngModel)]="createNew.franchisee_state">
                    <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_state')">
                        State is required
                    </mat-error>
                  </mat-form-field>
                </div>

          </div>

        <div class="">
          <label class="input-custom-label" for="Franchisee_Type">Franchisee Type</label>
          <mat-form-field>
            <mat-select placeholder="Franchisee Type" id="Franchisee_Type" name="franchisee_franchise_type"
              [(ngModel)]="createNew.franchisee_franchise_type" required>
              <mat-option *ngFor="let franchisee_details of franchisee_type" value="{{franchisee_details.franchisee_typename}}">{{franchisee_details.franchisee_typename}}</mat-option>
            </mat-select>
            <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_franchise_type')">
              Franchisee Type is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="clearfix"></div>
        <div class="spacer-sm"></div>
        <div class="cf-box-footer">
          <ul class="fo-btns">
            <li>Cancel</li>
            <li><button class="edit-profile-save" type="submit" mat-button>Create</button></li>
          </ul>
        </div>
      </form>
      </div>
</div>
<toaster-container [toasterconfig]="config1"></toaster-container>
