<!-- <div class="container-full">

    <div class="row top-title-component" >
      <div class="col-sm">
        <p class="franchisee-title">{{constantValue.apps_crm_createFranchisee_main_title_en}}</p>
        <div class="spacer-xs"></div>
      </div>
      <div class="pull-right">
        <div class="right-side-btns">

          <button class="empty-btn" (click)="cancel()">{{constantValue.apps_crm_createFranchisee_cancel_btn_en}}</button>
        </div>
      </div>
    </div>



</div>


<div class="top-title-component">
<div class="row">
    <div class="col-md-6">

    </div>
  </div>
</div> -->

<div class="create-franchisee-main">

  <form #franchiseeForm="ngForm" name="franchiseeForm" (ngSubmit)="create_franchisee(franchiseeForm)" novalidate>
    <div class="row top-title-component">
      <div class="col-sm-6">

        <div class="main_top_franchisee" *ngIf="franchiseeTypeTitle == 'normal'">
               <h1 class="franchisee-title">{{constantValue.apps_crm_createFranchisee_main_title_en}}</h1>
        </div>
        <div class="main_top_franchisee" *ngIf="franchiseeTypeTitle == 'master'">
            <h1 class="franchisee-title">Master Franchisee</h1>
            <h3>{{constantValue.apps_crm_createFranchisee_main_title_en}}</h3>
              </div>

      </div>
      <div class="col-sm-6">
        <div class="text-right">
          <button class="empty-btn" (click)="cancel()" mat-button>Cancel</button>

          <button class="filled-btn margin-left-15" type="submit" mat-button>
            <img src="../../../../../../assets/images/carz/icons/add.svg" style="left: 21px; top: 13px; position: absolute; width: 15px;" class="btn-icons-left" alt=""> Create</button>
        </div>
      </div>
    </div>

    <section>
      <div class="franchisee-information-main">
        <div class="row">
          <div class="col-xs-2 col-md-3">
            <div class="franchisee-sub-title">{{constantValue.apps_crm_createFranchisee_sub_title_en}}</div>
          </div>
          <div class="col-xs-10 col-md-9">
            <div class="border-right-franchisee-create-eidt"></div>
          </div>

        </div>
        <div class="spacer-xs"></div>

        <div class="row">
          <div class="padding-left-15">
            <div class="frachisee-input-lg animated fadeIn" *ngIf="createNew.bussiness_type_id"  >

              <label for="franchisee-name">Company Name </label>
              <br>
              <mat-form-field>
                <input matInput placeholder="Company Name " id="Franchisee_name" name="franchisee_name" [(ngModel)]="createNew.franchisee_name"
                  required >
                  <!-- [disabled]="!createNew.bussiness_type_id" -->
                <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_name')">
                  Franchisee name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="frachisee-input-lg">

              <label for="franchisee-name">Pincode of Interest</label>
              <br>

              <ng4geo-autocomplete id="Address" [userSettings]="userSettings2" placeholder="Location" name="franchisee_pincode" [(ngModel)]="createNew.franchisee_pincode"
              (componentCallback)="autoCompleteCallback1($event)" (blur)="validate_Franchisee_Pincode(createNew.franchisee_pincode,i)" ngDefaultControl mdInput required></ng4geo-autocomplete>
             <!-- <mat-error *ngIf="pincode.invalid">{{getErrorPincode()}}</mat-error> -->
                  <span class="error-msg pincodevali">{{pincode_error}}</span>

            </div>
            <div class="row">
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">City</label>
                <br>
                <mat-form-field>
                  <input matInput placeholder="City" id="City" [(ngModel)]="createNew.franchisee_city" name="franchisee_city" [disabled]="createNew.franchisee_city"
                    required>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_city')">

                    City is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">State</label>
                <br>
                <mat-form-field>
                  <input matInput placeholder="State" id="State" [(ngModel)]="createNew.franchisee_state" name="franchisee_state" [disabled]="createNew.franchisee_state" required>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_state')">

                    State is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Area</label>
                <br>
                <mat-form-field>
                  <!-- <input matInput placeholder="Pincode" id="Franchisee_pin" [(ngModel)]="createNew.franchisee_pincode" floatPlaceholder="false"
                    name="franchisee_pincode" required (blur)="validate_Franchisee_Pincode(createNew.franchisee_pincode,i)"> -->
                    <!-- franchisee_address -->
                       <input matInput placeholder="Area" id="Franchisee_pin" [(ngModel)]="createNew.franchisee_address" floatPlaceholder="false"
                    name="franchisee_address" required>
                    <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_address')">

                        Area is required
                      </mat-error>
                  <!-- <mat-error *ngIf="pincode.invalid">{{getErrorPincode()}}</mat-error> -->
                  <!-- <span class="error-msg pincodevali">{{pincode_error}}</span> -->
                </mat-form-field>
              </div>
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Country</label>
                <br>
                <mat-form-field>
                  <input matInput placeholder="Country" id="franchisee_country" [(ngModel)]="createNew.franchisee_country" floatPlaceholder="false"
                    name="franchisee_country" [disabled]="createNew.franchisee_country" required>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_country')">

                    Country is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>



          </div>
          <div class="col-md-6">
            <div class="frachisee-input-lg">

              <label for="franchisee-name">Lead Source</label>
              <br>
              <mat-form-field>
                <mat-select placeholder="{{constantValue.apps_crm_createFranchisee_input_leadsource}}" id="Lead_Source" [(ngModel)]="createNew.lead_source"
                  name="lead_source" *ngIf="createNew != null" required>
                  <mat-option value="Walk-ins">Walk-ins</mat-option>
                  <mat-option value="Websites">Websites</mat-option>
                  <mat-option value="Social Media">Social Media</mat-option>
                  <mat-option value="Classifieds">Classifieds</mat-option>
                  <mat-option value="Existing Franchisees">Existing Franchisees</mat-option>
                  <mat-option value="Existing Vendors">Existing Vendors</mat-option>
                  <mat-option value="Customer Referrals">Customer Referrals</mat-option>
                  <mat-option value="Channel Partners">Channel Partners</mat-option>
                  <mat-option value="Lead Partners">Lead Partners</mat-option>
                  <mat-option value="Online Website">Online Website</mat-option>
                </mat-select>
                <mat-error *ngIf="franchiseeForm.hasError('required', 'lead_source')">
                  Lead Source is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Franchisee Type</label>
                <br>
                <mat-form-field>
                  <mat-select placeholder="Franchisee Type" [(value)]="Franchisee_Type" [disabled]="creating_franchisee_type == 'master'" id="Franchisee_Type"
                    name="franchisee_franchise_type" [(ngModel)]="createNew.franchisee_franchise_type" required>
                    <mat-option *ngFor="let franchisee_details of franchisee_type" value="{{franchisee_details.franchisee_typename}}">{{franchisee_details.franchisee_typename}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_franchise_type')">
                      Franchisee Type is required
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Model Type</label>
                <br>
                <mat-form-field>
                  <mat-select matInput placeholder="Model Type" id="Franchisee_Model" name="franchisee_franchise_model" [(ngModel)]="createNew.franchisee_franchise_model"
                    required>
                    <mat-option *ngFor="let franchisee_details of franchisee_model" value="{{franchisee_details.franchisee_name}}"
                    >{{franchisee_details.franchisee_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_franchise_model')">

                    Model type is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Investment</label>
                <br>
                <mat-form-field>
                  <mat-select placeholder="Investment Type" id="Investment" name="franchisee_investment" [(ngModel)]="createNew.franchisee_investment"
                    required>
                    <mat-option *ngFor="let franchisee_details of investment_type" value="{{franchisee_details.investment_name}}">{{franchisee_details.investment_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_investment')">

                    Investment Type is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="frachisee-input-sm padding-left">

                <label for="franchisee-name">Business Type</label>
                <br>
                <mat-form-field>
                  <mat-select placeholder="Choose Business Type" id="bussiness_type_id" name="bussiness_type_id" [(ngModel)]="createNew.bussiness_type_id"
                    (ngModelChange)="getBusinessType($event)">
                    <mat-option *ngFor="let bussiness_type of bussiness_types_list" value="{{bussiness_type._id}}">{{bussiness_type.type_name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="franchiseeForm.hasError('required', 'bussiness_type_id')">

                    Business Type is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="frachisee-input-lg">

              <label for="franchisee-name">When you will start ?</label>
              <br>
              <mat-form-field>
                <mat-select placeholder="Select Start Time" [(value)]="Preferred_date" id="Set_date" name="franchisee_preferred_date" [(ngModel)]="createNew.franchisee_preferred_date"
                  required>
                  <mat-option *ngFor="let set_date of preferred_time" value="{{set_date.preferred_days}}">{{set_date.preferred_days}}</mat-option>
                </mat-select>
                <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_preferred_date')">

                  Start time is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="partner-information-main">
        <div class="row">
          <div class="col-xs-2 col-md-3">
            <div class="franchisee-sub-title">{{constantValue.apps_crm_createFranchisee_sub_partner_info}}</div>
          </div>
          <div class="col-xs-10 col-md-9">
            <div class="border-right-franchisee-create-eidt"></div>
          </div>

        </div>
        <div class="spacer-xs"></div>


        <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onSelectedIndexChange($event)">
          <mat-tab label="{{partnerobject.franchisee_name}}" *ngFor="let partnerobject of list;let i=index;">
            <div class="spacer-xs"></div>

            <div class="row">
              <div class="padding-left-15">
                <div class="frachisee-input-lg">

                  <label for="partner-name">Full Name</label>
                  <br>
                  <mat-form-field>
                    <input matInput placeholder="Full Name" id="partner_Name" floatPlaceholder="false" [(ngModel)]="createNew.partner_name"
                      name="partner_name" required>
                    <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_name')">

                      Full Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="row">
                <div class="frachisee-input-sm padding-left">

                  <label for="partner_Hno">H.No</label>
                  <br>
                  <mat-form-field>
                    <input matInput placeholder="House No." id="partner_Hno" [(ngModel)]="createNew.partner_house_number" name="partner_house_number" required>
                    <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_house_number')">

                      H.no is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="frachisee-input-lg padding-left">

                  <label for="partner_address">Pincode</label>
                  <br>
                  <ng4geo-autocomplete id="partner_address" class="create_partner_area" [userSettings]="userSettings2" name="partner_pincode" [(ngModel)]="createNew.partner_pincode"
                    (componentCallback)="autoCompleteCallback($event,i)" ngDefaultControl mdInput required></ng4geo-autocomplete>
                </div>
              </div>
                <div class="row">
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">City</label>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="City" id="partner_City" [(ngModel)]="createNew.partner_city" name="partner_city" [disabled]="createNew.partner_city" required>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_city')">

                        City is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">State</label>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="State" id="partner_State" [(ngModel)]="createNew.partner_state" name="partner_state" [disabled]="createNew.partner_state" required>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_state')">

                        State is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">Area</label>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="Address" id="partner_address" [(ngModel)]="createNew.partner_address" floatPlaceholder="false"
                        name="partner_address" required>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_address')">

                        Address is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">Country</label>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="Country" id="partner_country" [(ngModel)]="createNew.partner_country" floatPlaceholder="false" name="partner_country"
                      [disabled]="createNew.partner_country" required>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_country')">

                        Country is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>



              </div>
              <div class="col-md-6">
                <!-- <div class="pull-right">
                  <button class="secondary-btn md-btn" type="submit" mat-button>
                    <img src="../../../../../../assets/images/carz/icons/tick_save.svg" style="left: -12px;top: 0px; position: relative;width: 15px;"
                      class="btn-icons-left" alt=""> Save </button>
                </div> -->
                <div class="frachisee-input-lg">

                  <label for="franchisee-name">Occupation</label>
                  <br>
                  <mat-form-field>
                      <mat-select placeholder="Occupation" id="occupation" name="partner_occupation" [(ngModel)]="createNew.partner_occupation"
                      required>
                      <mat-option *ngFor="let occupation_details of occupation_type" value="{{occupation_details.occupation_name}}">{{occupation_details.occupation_name}}</mat-option>
                    </mat-select>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_occupation')">

                      Occupation is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="frachisee-input-lg animated fadeIn"  *ngIf="createNew.partner_occupation == 'Other'">

                    <label for="franchisee-name">Specific Other Occupation</label>
                    <br>
                    <mat-form-field >
                      <input matInput placeholder="Occupation" id="partner_Occupation"  [ngModel]="createNew.partner_occupation_others" name="partner_occupation_others"
                        required>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_occupation')">

                        Occupation is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="frachisee-input-lg">

                      <label for="franchisee-name">Email</label>
                      <br>
                      <mat-form-field>
                        <input matInput class="input#partner_Email" placeholder="Email" id="partner_Email" [(ngModel)]="createNew.franchisee_email" name="franchisee_email" required>
                        <mat-error *ngIf="franchiseeForm.hasError('required', 'franchisee_email')">

                          Email is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                <div class="row">


                  <!-- <div class="frachisee-input-xs padding-left">

                      <label for="franchisee-name">Country Code</label>
                      <br>
                      <mat-form-field>
                          <mat-select placeholder="Code" id="code" name="country_code" [(ngModel)]="createNew.country_code"
                          required>
                          <mat-option *ngFor="let country of country_code" value="{{country.country_name}}">{{country.country_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div> -->
                      <!-- <international-phone-number placeholder="Enter phone number" [(ngModel)]="createNew.partner_mobile_number"></international-phone-number> -->
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">Phone Number</label>
                    <br>
                    <!-- <mat-form-field>
                      <input matInput placeholder="Phone Number" id="partner_Number" name="partner_mobile_number" [(ngModel)]="createNew.partner_mobile_number"
                        maxlength="13" required>
                      <mat-error *ngIf="number.invalid">{{getErrorNumber()}}</mat-error>
                      <span class="pincodevali">{{number_error}}</span>
                    </mat-form-field> -->
                    <international-phone-number placeholder="Enter phone number" id="partner_Number" name="partner_mobile_number" [(ngModel)]="createNew.partner_mobile_number"></international-phone-number>
                  </div>
                </div>
                <div class="row">
                  <div class="frachisee-input-sm padding-left">

                    <label for="franchisee-name">Age</label>
                    <br>
                    <mat-form-field>
                      <input matInput placeholder="Age" id="partner_Age" name="partner_age" [(ngModel)]="createNew.partner_age" required maxlength="2">
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'partner_age')">

                        Age is required
                      </mat-error>
                    </mat-form-field>
                    <br>
                    <label for="franchisee-name">Business Type</label>
                    <br>
                    <mat-form-field>
                      <mat-select placeholder="Choose Business Type" id="bussiness_type_id" name="bussiness_type_id" [(ngModel)]="createNew.bussiness_type_id"
                        (ngModelChange)="getBusinessType($event)" required>
                        <mat-option *ngFor="let bussiness_type of bussiness_types_list" value="{{bussiness_type._id}}">{{bussiness_type.type_name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="franchiseeForm.hasError('required', 'bussiness_type_id')">

                        Bussiness type is required
                      </mat-error>
                    </mat-form-field>
                    <!-- <label for="franchisee-name">Phone Type</label> -->

          <!-- <ngx-intl-tel-input [(value)]="phone_number_standard" [preferredCountries]="preferredCountries"></ngx-intl-tel-input> -->
                  </div>
                  <div class="frachisee-input-sm padding-left">
                    <div class="profile-pic-rect">
                      <!-- <label for="profile-pic"> <img src="../../../../../../assets/images/carz/icons/add.svg"  style="width:25px;" alt=""> </label> -->
                      <label for="profile-pic">
                        <img src="../../../../../../assets/images/carz/icons/edit.svg" class="profile-pic-edit-icon" style="width:17px;" alt="">
                      </label>
                      <input type="file" class="upload_file cf" id="profile-pic" (change)="handleFileInput($event.target.files);readUrl($event);">
                      <!-- <img src="../../assets/images/logos/fallout.png" alt=""> -->
                      <!-- <input type="file" class="upload_file cf" id="profile-pic"> -->
                      <img src="../../assets/images/logos/fallout.png" alt="" *ngIf="!url">
                      <img [src]="url" alt="" *ngIf="url">
                    </div>


                  </div>
                </div>

              </div>


            </div>


          </mat-tab>
          <!-- <mat-tab label="Partner 2">Content 2</mat-tab> -->
        </mat-tab-group>



      </div>

    </section>
  </form>
</div>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [type]="spinnerConfig.type" [size]="spinnerConfig.size" [color]="spinnerConfig.color"></ngx-spinner>
<toaster-container [toasterconfig]="config1"></toaster-container>
