

// .franshisee-main{
//   margin: 15px;
// }

.city-name{

}
.franchisee-dp{
  width: 56px;
  // height: 96px;
  border: 1px solid #95989A;
}
.rating_star{
  position: absolute;
  right: 0px;
  top: 0;
  width: 40px;
}
.body-sub-title-text{
  padding-left: 15px;
}

// icon color
i.fa {
  color: #F1464A;
}

// .franchisee-title{
//   font-size: 30px;
//   font-weight: 500;
//   margin-top: 6px;
//   color: #4D4D4D;
//   text-transform: uppercase;
// }
.filled-btn.franchisee{
  width: 150px;
  color:#fff;
}

.mat-form-field-infix{
  font-size: 14px !important;
}
 .franchisee_main_list .franchisees-list-main{
  padding-left: 30px;
}
// .franchisee_main_list
