<div class="franshisee-main edit-franchisee-main container-fluid">
    <div class="row">
        <div >
            <p class="franchisee-title">Franchisee Information</p>
        </div>

    </div>
    <form (ngSubmit)="updateFranchisee(franchisee_details)" #franchiseeForm="ngForm">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="form-main-section">
                    <label class="input-custom-label" for="Name">Name</label>
                    <mat-form-field>
                        <input matInput placeholder="Name" id="Name" [(ngModel)]="franchisee_details.franchisee_name" name="franchisee_name" [formControl]="name" required>
                        <mat-error *ngIf="name.invalid">{{getErrorName()}}</mat-error>
                    </mat-form-field>
                    <label class="input-custom-label" for="Occupation">Occupation</label>
                    <mat-form-field>
                        <input matInput placeholder="Occupation" id="Occupation" [(ngModel)]="franchisee_details.franchisee_occupation" name="franchisee_occupation" [formControl]="occupation" required>
                        <mat-error *ngIf="occupation.invalid">{{getErrorOccupation()}}</mat-error>
                    </mat-form-field>
                    <label class="input-custom-label" for="Email">Email</label>
                    <mat-form-field>
                        <input matInput placeholder="Email" id="Email" [(ngModel)]="franchisee_details.franchisee_email" name="franchisee_email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="City">City</label>
                            <mat-form-field>
                                <input matInput placeholder="Location" id="City" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search [(ngModel)]="franchisee_details.franchisee_city" name="franchisee_city" [formControl]="city" required>
                                <mat-error *ngIf="city.invalid">{{getErrorCity()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="State">State</label>
                            <mat-form-field>
                                <input matInput placeholder="State" id="State" [(ngModel)]="franchisee_details.franchisee_state" name="franchisee_state" [formControl]="state" required>
                                <mat-error *ngIf="state.invalid">{{getErrorState()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <label class="input-custom-label" for="Address">Address</label>
                    <!-- <mat-form-field> -->
                            <ng4geo-autocomplete  id="address" name="address" let i = index  [(ngModel)]="franchisee_details.franchisee_address" (componentCallback)="autoCompleteCallback1($event,i)" ngDefaultControl mdInput></ng4geo-autocomplete>
                        <!-- <input matInput placeholder="Address" id="Address" [(ngModel)]="franchisee_details.franchisee_address" name="address" [formControl]="address" required> -->
                        <!-- <mat-error *ngIf="address.invalid">{{getErrorAddress()}}</mat-error> -->
                    <!-- </mat-form-field> -->
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <div class="form-main-section">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="Number">Number</label>
                            <mat-form-field>
                                <input matInput placeholder="Number" id="Number" [(ngModel)]="franchisee_details.franchisee_mobile_number" name="franchisee_mobile_number" [formControl]="mobile" required>
                                <mat-error *ngIf="mobile.invalid">{{getErrorMobile()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="Age">Age</label>
                            <mat-form-field>
                                <input matInput placeholder="Age" id="Age" [(ngModel)]="franchisee_details.lead_age" name="lead_age" [formControl]="age" required>
                                <mat-error *ngIf="address.invalid">{{getErrorAge()}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <label class="input-custom-label" for="Lead_Source">Lead Source</label>
                    <mat-form-field>
                        <input matInput placeholder="Lead Source" id="Lead_Source" [(ngModel)]="franchisee_details.lead_source" name="lead_source" [formControl]="source" required>
                        <mat-error *ngIf="source.invalid">{{getErrorSource()}}</mat-error>
                    </mat-form-field>
                    <label class="input-custom-label" for="Investment">Investment</label>
                    <mat-form-field>
                        <mat-select placeholder="Investment" id="Investment" [(ngModel)]="franchisee_details.franchisee_investment" name="franchisee_investment" [formControl]="investment" required>
                            <mat-option *ngFor="let franchisee_details of investment_type" value="{{franchisee_details.investment_name}}">{{franchisee_details.investment_name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="investment.invalid">{{getErrorInvestment()}}</mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="Set_date">Set date</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Set date" [(ngModel)]="franchisee_details.franchisee_preferred_date" name="franchisee_preferred_date" [formControl]="date" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="date.invalid">{{getErrorDate()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <label class="input-custom-label" for="Time">Time</label>
                            <mat-form-field>
                                <input matInput placeholder="Time" [(ngModel)]="franchisee_details.franchisee_preferred_time" name="franchisee_preferred_time" [formControl]="time" required>
                                <mat-error *ngIf="time.invalid">{{getErrorTime()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                    </div>
                    <label class="input-custom-label" for="start_soon">How soon to start</label>
                    <mat-form-field>
                        <input matInput placeholder="How soon to start" [(ngModel)]="franchisee_details.franchisee_how_soon_to_start" name="franchisee_how_to_soon_start" [formControl]="toStart" required>
                        <mat-error *ngIf="toStart.invalid">{{getErrorToStart()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <label class="input-custom-label" for="Franchisee_Model">Franchisee Model</label>
                <mat-form-field>
                    <mat-select placeholder="Franchisee Model" id="Franchisee_Model" [(ngModel)]="franchisee_details.franchisee_franchise_model" name="franchisee_franchise_model" [formControl]="model" required>
                        <mat-option *ngFor="let franchisee_details of franchisee_model" value="{{franchisee_details.franchisee_name}}">{{franchisee_details.franchisee_name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="model.invalid">{{getErrorModel()}}</mat-error>
                </mat-form-field>
                <label class="input-custom-label" for="Remarks">Remarks</label>
                <mat-form-field class="remarks">
                    <textarea matInput placeholder="Remarks" id="Remarks" rows="16" [(ngModel)]="franchisee_details.franchisee_remarks" name="franchisee_remarks" [formControl]="remark" required></textarea>
                    <mat-error *ngIf="remark.invalid">{{getErrorRemark()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                <p class="edit-img-title">Display image</p>
                <img src="../../assets/images/logos/fallout.png" class="rounded-0 profile-img" alt="">
                <div class="spacer-sm "></div>
                <button class="edit-profile-save" type="submit" mat-button [disabled]="franchiseeForm.invalid">SAVE</button>
            </div>
        </div>
    </form>
