
<div class="ktmain">
  <div class="row">

<div class="col-md-6 ktmain-left">

  <div class="ktprofilepic">
<img src="../../../../../../../assets/images/logos/fallout.png" *ngIf="!profilePic" class="profile-pic-img" alt="">
<img [src]="profilePic" *ngIf="profilePic" class="profile-pic-img" alt="">
<div class="spacer-xs"></div>
  </div>
  <h4 class="welcometitle">Welcome to Carz</h4>
  <div class="ktwelcometext">
    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.</p>
    <p>Various versions have evolved over the years, sometimes by accident, sometimes on purpose</p>
<div class="spacer-sm"></div>

    </div>
    <div class="ktfooterbtn">
         <button class="filled-btn franchisee ktbutton" mat-button  (click)="knowledgeTransfer2();" > Next </button>
    </div>

</div>
<div class="col-md-6 ktmain-right">
<img src="../../../../../../../assets/images/carz/icons/onboarding_1.svg" width="100%" alt="">
</div>
<!-- onboarding_1.svg -->

</div>
<!-- <img src="../../../../../../../assets/images/carz/icons/ktwelcme1.svg" width="100%" alt="" srcset=""> -->
<div>

</div>
</div>
