.dashboard-library{
  position: relative;
  top: -47px;
  margin: 35px;
  margin-top: 0px;
}
.margin-left-0{
  margin-left: 0px;
}
.franshisee-main {
  /* padding: 0; */
  width: 100%;
  /* padding-right: 0px; */
  margin-left: 0;
}
.main-CRM-setup {
  /* margin: 35px; */
  margin-left: 0;
}
.franchisee-profile.settings{
  padding: 35px;
}
.profile-right-main.start-stage{
  background: none;
  padding: 0;
}

.white-bg{
  box-shadow: 3px 3px 15px #e9e9e9;
  min-height: 710px;
  background: #fff;
  padding: 35px;
  text-align: center;

}
.assesment-title{
  color: rgba(0, 0, 0, 0.65);
  font-size: 24px;
  font-weight: 600;
}
.lock-text{
  font-size: 24px;
  color: rgba(104, 104, 104, 0.96);
  font-weight: 500;
}

// istructions

.instructions {
  padding: 35px;
  margin-bottom: 0;
}
.profile-right-main.instruction-stage{
  padding: 0px;
}
.instructions-body{
  padding: 35px;
  padding-top: 20px;
}
.instrucntions-text {
  font-size: 18px;
  margin-bottom: 25px;
  color: #606060;
}
span.time {
  font-weight: 500;
}
span.duration {
  font-weight: 600;
}
.instrucntions-text.red{
  color: rgba(238, 54, 56, 0.73);
  font-style: italic;
}
