<div class="franshisee-main single-ticketing-page container-fluid">
  <section>
    <div class="row top-title-component">
      <div class="col-md-6">
        <h1 class="franchisee-title fr-setup-title"> Ticketing System</h1>


        <nav aria-label="breadcrumb">
          <ol class="breadcrumb franchisee_separate fr-setup-loaction">
            <li class="breadcrumb-item">
              <a [routerLink]="['/apps/ticketing-system/ticketing-system']">All Tickets</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Equipments unavailable</li>
          </ol>
        </nav>


      </div>
      <div class="col-md-6">
        <div class="text-right">
          <button class="filled-btn margin-left-15" style="width:auto !important;" (click)="createTicket()" mat-button>
            <img src="../../../../../assets/images/carz/icons/add.svg" style="left: -4px; top: 0px; position: relative; width: 12px;"
              class="btn-icons-left" alt=""> Create New</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="spacer-xs"></div>
    <div class="row">
      <div class="franchisee-list-second-component main-ticket-box">
        <div class="padding-20">


            <p class="ticketing-main-box-title">Equipments unavailable</p>
            <p class="ticketing-main-box-created margin-bottom-0">Created By: <span class="name">Gagan Singh</span></p>
            <p class="ticketing-main-box-date-created margin-bottom-0">Date Created: <span class="date">23/02/18</span> </p>
          </div>
          <mat-divider></mat-divider>
          <div class="content-box-ticketing padding-20">
            <p>
              Hello, <br> Recently, there has been a shortage of car spare parts and tools, it would be great if you could provide us with the same as soon as possible. <br><br>Thanks, <br>Gagan Singh.
            </p>
            </div>
      </div>
    </div>

    <!-- replied to customer -->
    <div class="row">
        <div class="franchisee-list-second-component main-ticket-box">
          <div style="padding-left:20px;" class="main-ticket-box-top">
            <p class="box-top-para left"><img src="../../../../../../assets/images/logos/fallout.png" width="30px" style="" alt=""> <span class="customer-support"> Customer Support</span> <span class="replied ">replied to Gagan Singh</span></p>
            <p class="box-top-para right">23 Feb 2018</p>
            </div>
            <mat-divider></mat-divider>
            <div class="content-box-ticketing padding-20">
              <p>
                Hello, <br> Recently, there has been a shortage of car spare parts and tools, it would be great if you could provide us with the same as soon as possible. <br><br>Thanks, <br>Gagan Singh.
              </p>
              </div>
        </div>
      </div>

         <!-- replied  customer -->
    <div class="row">
        <div class="franchisee-list-second-component main-ticket-box">
          <div style="padding-left:20px;" class="main-ticket-box-top">
            <p class="box-top-para left"><img src="../../../../../../assets/images/logos/fallout.png" width="30px" style="" alt=""> <span class="customer-support"> Abhishek Reddy</span> <span class="replied ">replied back to Customer Support</span></p>
            <p class="box-top-para right">24 Feb 2018</p>
            </div>
            <mat-divider></mat-divider>
            <div class="content-box-ticketing padding-20">
              <p>
                Hello Abhishek, <br> Recently, there has been a shortage of car spare parts and tools, it would be great if you could provide us with the same as soon as possible. <br><br>Thanks, <br>Gagan Singh.
              </p>
              </div>
        </div>
      </div>
               <!-- comment box -->
    <div class="row">
        <div class="franchisee-list-second-component main-ticket-box">
          <div style="padding-left:20px;" class="main-ticket-box-top">
            <p class="box-top-para left"><img src="../../../../../../assets/images/logos/fallout.png" width="30px" style="" alt=""> <span class="customer-support"> From:</span> <span class="replied ">Gagan Singh</span></p>

            </div>
            <mat-divider></mat-divider>
            <div class="content-box-ticketing padding-20">

              <textarea class="comment-ticketing" placeholder="Type your message here..."></textarea>
              </div>
              <div class="main-ticket-box-bottom">
                  <p class="box-top-para left" style="padding-left:20px;"><label for="comment-attach-file"> <img src="../../../../../../assets/images/carz/icons/attach_file_grey.svg" width="15px;" style="margin-right:10px;" alt=""> <span class="replied ">Attach file</span></label> </p>
                  <input type="file" id="comment-attach-file" style="display:none;">
                  <div class="box-top-para right">   <ul class="list-inline">
                    <li><button mat-button class="third-priority-btn discussion-moderator-btn" style="margin-right:10px;">Cancel</button>  </li>
                      <li> <button mat-button class="secondary-btn discussion-moderator-btn" >Send</button> </li>
                  </ul></div>
              </div>

        </div>
      </div>
  </section>
</div>
