<div class="check-list">
  <form   #addChecklistForm="ngForm" name="addChecklistForm" (ngSubmit)="create_new_setup_checklist(newSetupChecklist, addChecklistForm)" novalidate>
    <p class="checklist-title">New Checklist</p>
    <!-- <form   name="checklistForm" > -->

    <div >
      <label class="input-custom-label" for="checklist_title">Checklist Title <span class="reqfield">(required)</span> </label>
      <br>

      <mat-form-field>
        <input matInput placeholder="Checklist title" id="checklist_title" name="setup_checklist_name_EN" [(ngModel)]="newSetupChecklist.setup_checklist_name_EN"
         required>
        <mat-error *ngIf="addChecklistForm.hasError('required', 'setup_checklist_name_EN')">

          <!-- Checklist Title is required -->
        </mat-error>
      </mat-form-field>
    </div>
         <div class="row">
          <div class="col-md-6">
              <label class="input-custom-label" for="stage_title">Department <span class="reqfield">(required)</span> </label>
              <br>
              <mat-form-field>
                <!-- <input matInput placeholder="Stage" id="stage_title" name="checklist_stageTitle" > -->
                <mat-select id="stage_title" [(value)]="SelDepartment" placeholder="Department" [ngModelOptions]="{standalone: true}" [(ngModel)]="newSetupChecklist.setup_department_id" required>
                    <mat-option *ngFor="let department of setup_department_list; let i = index" value="{{department._id}}">{{department.setup_department_name_EN}}</mat-option>
                </mat-select>
                <mat-error *ngIf="addChecklistForm.hasError('required', 'setup_department_id')">

                    Department is required
                  </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label class="input-custom-label" for="State">Visible to <span class="reqfield">(required)</span> </label>
              <br>

              <mat-form-field>
                <mat-select id="visible" [(value)]="SelVisibility" placeholder="Visible To" placeholer="Visible to" [(ngModel)]="newSetupChecklist.visible_to" [ngModelOptions]="{standalone: true}" required>
                    <mat-option value="All">All</mat-option>
                    <mat-option value="Franchisor">Franchisor</mat-option>
                    <mat-option value="Franchisee">Franchisee</mat-option>
                  </mat-select>
                  <mat-error *ngIf="addChecklistForm.hasError('required', 'visible_to')">

                    Visible is required
                  </mat-error>
              </mat-form-field>
            </div>

      </div>
    <div class="clearfix"></div>
    <div class="spacer-xs"></div>
    <div class="cf-box-footer">

      <div class="fo-btns pull-right" >
           <button class="empty-btn-secondary settings-right-add-btn" type="reset" mat-button (click)="cancel()">Cancel</button>
        <button *ngIf="!is_edit" class="secondary-btn settings-right-add-btn margin-left-15" mat-button >
          <img src="../../../../../../assets/images/carz/icons/add.svg" style="left: -7px;top: -2px;position: relative;width: 13px;"
            class="btn-icons-left" alt=""> Create</button>



      </div>
    </div>
  </form>
</div>
<toaster-container [toasterconfig]="config1"></toaster-container>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [type]="spinnerConfig.type" [size]="spinnerConfig.size" [color]="spinnerConfig.color"></ngx-spinner>
