
.check-list .mat-form-field, .check-list .mat-form-field-infix{

  width: 100% !important;
}
p.checklist-title {
  font-size: 20px;
  font-weight: 600;
}
.check-list label.input-custom-label {
  font-size: 14px;
}
.reqfield {
  font-size: 9px;
  color: #b7b7b7;
}
