<div class="franshisee-main row">
    <!-- top title component -->
    <div class="col-xs-12 col-md-12">
    <div class="row top-title-component">
  <!-- <span>sdf</span> -->
    </div>
    <div class="dashboard-library">
        <mat-tab-group [disableRipple]="false">
            <mat-tab label="{{tab}}" *ngFor="let tab of tabs">
             <div *ngIf="tab =='Dashboard' " >
                <div class="main-CRM-setup ">

                    <div class="row settings-main-row">

                        <div class="franchisee-profile settings">



                            <h1 class="body-txt-title" title="Abhishek Reddy">Abhishek Reddy</h1>
                            <p class="city-name body-subtitle margin-bottom-0" ><span class="position_fr">Developer, </span> <span class="age_fr">25</span></p>

                            <div class="spacer-xs"> </div>


                            <div class="profilesubsections">
                              <p class="profile-left-sub-head">PERSONAL INFO</p>
                              <p class="city-name body-subtitle" title="abhishek@wtastudios.com"> <img src="../../../../../../assets/images/carz/icons/mail_fr.svg" class="svg-icons" alt="">  <span class="body-sub-title-text"> abhishek@wtastudios.com </span></p>
                              <p class="city-name body-subtitle" title="9666119079">  <img src="../../../../../../assets/images/carz/icons/phone_fr.svg" class="svg-icons" alt="">  <span class="body-sub-title-text">  9666119079 </span> </p>
                              <p class="city-name body-subtitle" > <img src="../../../../../../assets/images/carz/icons/globe.svg" class="svg-icons map" alt=""><span class="body-sub-title-text">  Hyderabad, Yousufguda </span> </p>

                            </div>

                            <div class="spacer-xs"></div>
                            <div class="profilesubsections">
                                <p class="profile-left-sub-head">RESOURCE INFO</p>
                              <div class="leads_type">
                                <mat-form-field>
                                  <mat-select  >
                                    <mat-option >Hareesh</mat-option>
                                    <mat-option >Hareesh</mat-option>
                                    <mat-option >Hareesh</mat-option>
                                    <mat-option >Hareesh</mat-option>
                                     </mat-select>
                                </mat-form-field>

                              </div>
                            </div>
                                            </div>

                      <!-- read instructions -->

                      <div class="profile-right-main instruction-stage"  #target>
                          <div class="row">

                            <div class="col-md-12">
                                  <div class="instruction-page-main">
                                      <p class="assesment-title instructions">Questions Instructions</p>
                                      <mat-divider></mat-divider>
                                      <div class="text-right">

                                          <ul class="finish_test_main">
                                            <li>
                                              <button class="empty-btn-secondary md-btn-height" mat-button>View Application</button>
                                            </li>
                                            <!-- class="view_ap" -->
                                            <li>
                                              <button class="secondary-btn md-btn" mat-button>Finish Test</button>
                                            </li>

                                          </ul>
                                          <div class="spacer-xs"></div>
                                        </div>
                                        <div class="assessment_main">
                                            <mat-tab-group class="payment_inner_tab" (selectedTabChange)="onLinkClick($event)">
                                              <mat-tab label="{{type_name.question_type_name}}" *ngFor="let type_name of assessment_types_name; let i=index;">
                                                <div class="assessment-inner-tabs-main">
                                                  <!-- <mat-paginator  #paginator> </mat-paginator> -->
                                                  <pagination-controls (pageChange)="currentPage = $event.page;p = $event" id="paginate" maxSize="2" directionLinks="true"></pagination-controls>
                                                  <div class="questions_main" *ngFor="let question of datasource | paginate: { itemsPerPage: 5, currentPage: p, id: 'paginate',totalItems:datasource.length}; let j=index;">
                                                    <p class="question_number">QUESTION {{j + 1}}</p>
                                                    <p class="question">{{question.question_EN}}</p>
                                                    <mat-radio-group>
                                                      <mat-radio-button [value]="opt._id" *ngFor="let opt of question.options" (change)="loadIdValueInForm(opt.option,type_name,question,j)"
                                                        [checked]="question.selected_option == opt.option">{{opt.option}}</mat-radio-button>

                                                    </mat-radio-group>
                                                  </div>


                                                </div>
                                              </mat-tab>
                                            </mat-tab-group>
                                          </div>




                                  </div>
                            </div>
                          </div>
                        </div>
                      <!-- /read instructions -->





                    </div>



                  </div>
                  <button (click)="navigateResource();">submit test</button>
             </div>
             <div *ngIf="tab =='Library' " >
                <div class="main-CRM-setup ">

                    <div class="row settings-main-row">

                      <div class="franchisee-profile settings">
                        <p>sdfsfs</p>

                      </div>
                      <div class="profile-right-main" #target>

                      <p>tesitng hareesh</p>

                      </div>

                    </div>



                  </div>
               </div>

            </mat-tab>
        </mat-tab-group>
      </div>
      <p class="test-timer">Timer</p>
  </div>
    <!-- left side component -->


  </div>
  <!-- <toaster-container [toasterconfig]="config1"></toaster-container>
  <ngx-spinner [bdColor]="spinnerConfig.bdColor" [type]="spinnerConfig.type" [size]="spinnerConfig.size" [color]="spinnerConfig.color"></ngx-spinner> -->
