<div class="franshisee-main container-fluid">
  <div class="spacer-xs"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm">
          <h1 class="franchisee-title">Franchisee</h1>
        </div>
        <div class="col-sm-8">
          <mat-form-field class="franchisee-search">
            <input matInput placeholder="Search for" [(ngModel)]="crm_franchisee">
            <mat-icon class="from-inside-icon">search</mat-icon>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>

  <section class="test">


    <div class="float-right tab-right-actions" >
      <ul class="list-inline" >
        <li>
          <button class="filled-btn franchisee" mat-button [routerLink]="['/apps/crm/create-franchisee']"> Add New </button>
        </li>
        <!-- <li>
          <img src="../../../../../assets/images/carz/icons/upload-up.svg" class="svg_icons filter-icons" alt="">
        </li>
        <li>
          <img src="../../../../../assets/images/carz/icons/filter.png" class="svg_icons filter-icons" alt="">
        </li>
        <li>
          <img src="../../../../../assets/images/carz/icons/grid_view.svg" class="svg_icons filter-icons" alt="">
        </li> -->
      </ul>

    </div>



    <mat-tab-group>

<div class="bg-tab-body">
      <mat-tab label="All Leads">
        <div class="spacer-xs"></div>

<!-- <p class="leads_count"> 289 Leads </p> -->

        <!-- <table class="table table-hover crm-franchisee-list-table">
          <thead>
            <tr>
              <th width="20px"> <mat-checkbox></mat-checkbox>  </th>
              <th width="100px" >NAME</th>
              <th width="100px" >SOURCE </th>
              <th width="90px" >CITY</th>
              <th width="90px" >STATE</th>
              <th width="150px" >FRANCHISEE MODEL</th>
              <th width="100px" >LEAD STATUS  </th>
              <th width="90px" >CREATED ON </th>

            </tr>
          </thead>
          <tbody >
              <tr *ngFor="let franchisee of franchisees_list " >
                  <td > <mat-checkbox></mat-checkbox>  </td>
                  <td *ngIf="franchisee != null" [routerLink]="['/apps/crm/franchisee-setup/' + franchisee._id + '/discussion']">{{franchisee.franchisee_name}}</td>
                  <td class="select-option"><mat-form-field>
                      <mat-select placeholder="Channel Partners">
                        <mat-option >Option 1</mat-option>
                        <mat-option>Option 2</mat-option>
                        <mat-option >Option 3</mat-option>
                      </mat-select>
                    </mat-form-field> </td>
                  <td >{{franchisee.franchisee_city}}</td>
                  <td >{{franchisee.franchisee_state}}</td>
                  <td >{{franchisee.franchisee_franchise_model}}

                    </td>
                  <td class="select-option" ><mat-form-field>
                      <mat-select placeholder="Hot">
                        <mat-option >Hot</mat-option>
                        <mat-option >Warm</mat-option>
                        <mat-option>Cool</mat-option>
                      </mat-select>
                    </mat-form-field> </td>
                  <td >CREATED ON </td>

              </tr>

          </tbody>
        </table> -->


               <!-- <div class=" row crm_franchisee_list" >
                <div  class="franchisees-list-main" *ngFor="let franchisee of franchisees_list;let i=index;" [routerLink]="['/apps/crm/franchisee-setup/' + franchisee._id + '/discussion']">
              <div class="row franchisees-list">

                  <div class="pull-left fl-main-dp">
                    <img src="../../assets/images/logos/fallout.png" class="rounded-circle franchisee-dp" alt="">
                  </div>
                  <div class="">
                    <h1 class="body-txt-title"  title="franchisee_name" *ngIf="franchisee != null">{{franchisee.franchisee_name}}</h1>
                      <p class="sub-heading-address body-subtitle">
                        <img src="../../../../../assets/images/carz/icons/location-in.svg" class="svg-icons location" alt="">
                        <span class="body-sub-title-text">{{franchisee.franchisee_city}}</span>
                      </p>
                      <p class="city-name body-subtitle">
                        <img src="../../../../../assets/images/carz/icons/globe.svg" class="svg-icons" alt="">
                        <span class="body-sub-title-text">{{franchisee.franchisee_state}}</span>
                      </p>
                      <span class="franchisee-list status body-subtitle">{{franchisee.franchisee_franchise_model}}</span>

            </div>
          </div>
</div>
        </div>  -->


        <!-- new -->
        <div class="row franchisee_main_list">
            <!-- col-md-3 col-sm-6 col-xs-12 -->
            <!--[routerLink]="['/apps/crm/franchisee-setup/' + franchisee._id + '/discussion']"  -->
            <div class="  franchisees-list-main"  *ngFor="let franchisee of franchisees_list | filter: crm_franchisee;let i=index;" (click)="navigate(franchisee)">
              <div class="row franchisees-list" >
                <!-- <img src="../../../../../assets/images/carz/icons/rating-star.png" class="rating_star" alt=""> -->
                  <div class="pull-left fl-main-dp">
                    <img src="../../assets/images/logos/fallout.png" class="rounded-circle franchisee-dp" alt="">
                  </div>
                  <div class="">
                    <h1 class="body-txt-title" title="{{franchisee.franchisee_name}}">{{franchisee.franchisee_name}}</h1>
                      <p class="sub-heading-address body-subtitle">
                        <img src="../../../../../assets/images/carz/icons/location-in.svg" class="svg-icons location" alt="">
                        <span class="body-sub-title-text"> {{franchisee.franchisee_address}}</span>
                      </p>
                      <p class="city-name body-subtitle">
                        <img src="../../../../../assets/images/carz/icons/globe.svg" class="svg-icons" alt="">
                        <span class="body-sub-title-text"> {{franchisee.franchisee_city}}</span>
                      </p>
                      <span class="franchisee-list status body-subtitle">{{franchisee.franchisee_franchise_model}}</span>
                      <!-- <div class="progress_main">
                        <p class="progress_status">
                          <strong>75%</strong> completed
                        </p>
                        <img src="../../../../../assets/images/carz/icons/progress_br.svg" width="100%" alt="">
                      </div> -->
                  </div>
              </div>
            </div>
          </div>

      </mat-tab>

      <mat-tab label="Hot Leads">Content 2</mat-tab>
      <mat-tab label="Warm Leads">Content 2</mat-tab>
      <mat-tab label="Cold Leads">Content 2</mat-tab>

    </div>


    </mat-tab-group>


  </section>



</div>
