.profile-pic-img{
  width: 150px;
  border-radius: 50%;
  border: 1px solid #e9e9e9;
  box-shadow: 3px 3px 15px #e9e9e9;

}
.ktmain{
  position: relative;
}
.ktbutton{

  margin: 0 auto;
}
.welcometitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.icons-main img{
width: 50px;
}
.icons-main .title{
  font-size: 13px;
  font-weight: 500;
  margin-top: 4px;

  }


  .icons-kt2-list li{
    float: left;
    list-style: none;
  }
  .kt2-pop-main{
    width: 100%;
  }
  .icons-main {
    width: 110px;
}
ul.icons-kt2-list.row22.text-center.no-padding li {
  float: none;
  display: inline-block;
}
.ktfooterbtn {
  text-align: center;
  margin-top: 20px;
}
