
<div class="ktmain">
    <div class="row">
        <div class="kt2-pop-main ">
          <div class="top  text-center">
              <h4 class="welcometitle">Explore our Services</h4>
              <div class="ktwelcometext">
                  <p>Extensive and easy-to-use features that will make you <br> franchise management easier than ever before </p>
                         <div class="spacer-sm"></div>

                  </div>
          </div>
          <div class="content-icons">

            <ul class="icons-kt2-list">
              <li>
                <div class="icons-main text-center">
                      <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Dashboard.svg" alt="">
                      <p class="title">Dashboard</p>
                </div>
              </li>
              <li>
                  <div class="icons-main text-center">
                        <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-CRM.svg" alt="">
                        <p class="title">CRM Setup</p>
                  </div>
                </li>
                <li>
                    <div class="icons-main text-center">
                          <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Library.svg" alt="">
                          <p class="title">Digital Library</p>
                    </div>
                  </li>
                  <li>
                      <div class="icons-main text-center">
                            <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Marketing.svg" alt="">
                            <p class="title">Marketing</p>
                      </div>
                    </li>
                    <li>
                        <div class="icons-main text-center">
                              <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Discussion-Forum.svg" alt="">
                              <p class="title">Discussion Forum</p>
                        </div>
                      </li>

            </ul>

            <ul class="icons-kt2-list row22 text-center no-padding">
                <li>
                  <div class="icons-main text-center">
                        <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Ticketing.svg" alt="">
                        <p class="title">Ticketing System</p>
                  </div>
                </li>
                <li>
                    <div class="icons-main text-center">
                          <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-Audit.svg" alt="">
                          <p class="title">Audit Management</p>
                    </div>
                  </li>
                  <li>
                      <div class="icons-main text-center">
                            <img src="../../../../../../../assets/images/carz/icons/onboarding/Onboarding-revenue.svg" alt="">
                            <p class="title">Revenue & <br> Sales</p>
                      </div>
                    </li>


              </ul>

          </div>

        </div>

  </div>

  <div class="ktfooterbtn">
      <button class="filled-btn franchisee ktbutton" mat-button  (click)="cancel();" > Get Started </button>
 </div>
  <!-- <button class="filled-btn franchisee" mat-button class="ktbutton"  (click)="cancel()"> Get Started </button> -->

  </div>
