.common_drive_main_section{
  width: 100%;

}


.common_drive_top_section{
  height: 120px;
  background: #fff;
  line-height: 120px;
  padding: 0 30px;
}
.franchisee-title{
  line-height: 120px;
  margin: 0;
  font-size: 42px;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.69);
  bottom: 5px;

}
.empty-btn{
  border: 2px solid rgba(0, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  margin-left: 30px;
  width: 180px;
  width: 150px;
  height: 40px;

}
.upload_file_main_card{
  width: 873px;
  height: 554px;
      background: #fff;
      border-radius: 4px;
      box-shadow: 3px 3px 15px #e9e9e9;
      border: 1px solid #e9e9e9;
      margin: 0 auto;
      margin-top: 150px;
}
.upload_file_icon{
  margin:66px auto;
}
.upload_file_main_card .heading{

    font-weight: 700;
    font-size: 43px;
    margin: 25px auto;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.65);
}
.upload_file_main_card .sub-heading{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.68);
  font-weight: 300;
}
.add_icons_upload{
  padding-right: 15px;
}
.upload_btn{

  height: 64px;
  width: 206px;
  font-size: 21px;
   text-align: center;
  margin-top: 80px;
}
