<div id="login" fxLayout="column" fusePerfectScrollbar *ngIf="page_loaded">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/carz_logo.png">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="FranchiseeloginForm" #FranchiseeloginForm="ngForm" (ngSubmit)="franchiseelogin(FranchiseeloginForm.value)"   novalidate>

              <mat-error *ngIf="form_error_messages">

                  {{form_error_messages}}
              </mat-error>
                <mat-form-field>

                    <input matInput placeholder="Email"  name="username" [(ngModel)]="username" required>
                    <mat-error *ngIf="FranchiseeloginFormErrors.username.required">

                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!FranchiseeloginFormErrors.username.required && FranchiseeloginFormErrors.username.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>

                    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password" >
                    <mat-error *ngIf="FranchiseeloginFormErrors.password.required">

                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                     fxLayoutAlign="space-between center">
                    <!-- <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox> -->

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" >
                    LOGIN
                </button>

            </form>
        </div>
</div>
</div>
<ngx-spinner [bdColor]="spinnerConfig.bdColor" [type]="spinnerConfig.type" [size]="spinnerConfig.size" [color]="spinnerConfig.color"></ngx-spinner>
