
.reupload_req{
  font-size: 18px;
  color: #393939;
  font-weight: 600;
}
.reupload_req_main{

}
.reupload_req_main ul li img{
  width: 30px;
}
.businessPlan{

}
.reupload_req_main ul li
  {
    display: inline-block;
}
.reupload_req_main ul li p.businessPlan {
  padding-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #6D6D6D;
}
.kyc_popoup mat-form-field.mat-input-container {
  width: 100% !important;
}

.remarks2 .mat-form-field-infix {
  height: 140px !important;
}
